* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    font-size: .32rem;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: .8rem;
    background: #1b76ec;
    line-height: .8rem;
    padding: 0 .2rem;
    color: #fff;
}


.choose {
    width: 100%;
    padding: .2rem;
    display: flex;
    flex-wrap: wrap;
    h4 {
        width: 100%;
        margin-bottom: 0.3rem;
    }
    span {
        flex-shrink: 0;
        padding: .1rem .2rem;
    }
}

.section {
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.list {
    padding-left: 0.3rem;
    li{
        padding-top: 0.2rem;
        span{
            margin: 0.5rem 0;
            padding: 0 .2rem;
            &.active {
                border: 1px solid #f50;
            }
        }
    }
}